.message {
  display: flex;
  align-items: center;
  padding: 20px;
}
.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.info {
  padding-left: 10px;
}
.timestamp {
  color: gray;
  font-weight: 300;
  margin-left: 5px;
}
